NODE_ENV=docker
PORT=8080
JWT_ACCESS_EXPIRATION=1h
JWT_REFRESH_EXPIRATION=30d
JWT_ISSUER=decorators
MONGO_URI=mongo:27017/decorators
FACEBOOK_APP_ID=736429119864737
FACEBOOK_APP_SECRET=0756e36a685831939f0b179b391afba1
FACEBOOK_APP_CALLBACK=http://localhost:8080/auth/facebook
